.sign-in {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: #1D2433;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 9px; */
  font-family: Roboto, Arial;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 29px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}

.rectangle-3 {
  color: #1D2433;
  min-width: 0px;
  max-width: 480px;
  width:100%;
  background-color: #ffffff;
  /* border-top: 4px solid #d7ecf5; */
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin:0px auto 20px auto;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  font-size: 1rem;
  line-height: 23px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.sign-in-1 {
  text-align: center;
  /* margin-top: 2rem; */
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 750;
  color:#1D2433;
}

.group-15-instance {
  width: 55%;

}

.flex-container {
  color: #ffffff;
  width: 55%;
  flex-direction: column;
  flex-basis: 8%;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 4px;
  display: flex;
}


.password {
  margin-bottom: 1px;
}

.login-btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.login-btn--outline {
  background-color: transparent;
  color: #1D2433;
  padding: 8px 20px;
  border: 1px solid #1D2433;
  transition: all 0.3s ease-out;
}

.login-btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.login-btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #7381a0;
  color: #1D2433;
  transition: 250ms;
}