* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home{
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
}

.stocks-list{
  position:relative;
  display:flex;
  flex-flow:column;
  align-items: flex-start;
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.search-container{
  position:relative;
  display:flex;
  flex-flow:column;
  align-items: center;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;

}
.stock-instance{
  width: 100%;
  flex-basis: 32%;
}

.stock-market{
  font-family: Roboto, Arial;
  font-size: 1.875rem;
  font-weight: 600;
  margin-left: 1rem;
  color: #232C40;
}